########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 45
shaper_type_x: zvd
shaper_freq_y: 32
shaper_type_y: ei

[mcu rpi]
serial: /tmp/klipper_host_mcu
