########################################
# Board Fysetc Spider V3.0 config
########################################
# S/N: ZBS3526xx
########################################
[include klipper-config/bed.cfg]
[include klipper-config/fans.cfg]
[include klipper-config/filament-sensor.cfg]
[include klipper-config/gcode-macros.cfg]
[include klipper-config/heaters.cfg]
[include klipper-config/input-shaper.cfg]
[include klipper-config/LED.cfg]
[include klipper-config/load-unload.cfg]
[include klipper-config/power.cfg]
[include klipper-config/steppers.cfg]
[include klipper-config/skew_correction.cfg]
[include klipper-config/layer_change.cfg]

########################################
# PRINTER MCU configuration
########################################

[mcu]
serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.3:1.0

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 20
max_z_accel: 20
square_corner_velocity: 15

[idle_timeout] 
timeout: 86400

[save_variables]
filename: ~/printer_data/config/variables.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes

[respond]

[display_status]

[pause_resume]

[skew_correction]

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 15.733
#*# pid_ki = 0.561
#*# pid_kd = 110.326
