########################################
# NEOPIXEL configuration
########################################

[neopixel led_state]
pin: PD3 # пин для управления светодиодами
chain_count: 5 # кол-во светодиодов в ленте

########################################
# LED effects configuration
########################################

[led_effect state_ready]
autostart:              true
frame_rate:             60
leds:
	neopixel:led_state
layers:
	breathing 10.00 1.00 add (0.0,0.7,0.0)
	static 0.00 0.00 top (0.0,0.1,0.0)

[led_effect state_wait]
autostart:              false
frame_rate:             60
leds:
	neopixel:led_state
layers:
	breathing 5.00 1.00 add (0.7,0.7,0.0) 
	static 0.00 0.00 top (0.1,0.1,0.0) 

[led_effect progress_print]
leds:
	neopixel:led_state (5-1)
autostart:                          false
frame_rate:                         60
layers:
	progress -1 0 add (0.0, 0.0, 1.0),(0.0, 0.0, 0.5)
	static 0 0 top (0.0, 0.0, 0.01)

[led_effect progress_extruder]
leds:
	neopixel:led_state (5-1)
autostart:                          false
frame_rate:                         60
heater:                             extruder
layers:
	heatergauge 50 0 add (0.5,0.0,0.0),(1.0,0.0,0.0)
	static 0 0 add (0.01,0,0)
	
#[led_effect progress_extruder1]
#leds:
#    neopixel:led_state (5-1)
#autostart:                          false
#frame_rate:                         60
#heater:                             extruder1
#layers:
#    heatergauge 50 0 add (0.5,0.0,0.0),(1.0,0.0,0.0)
#    static 0 0 add (0.01,0,0)

[led_effect process_cooldown]
leds:
	neopixel:led_state
autostart:                          false
frame_rate:                         60
layers:
	gradient 0.2 0.5 add (0.1, 0.025, 0.0),(1.0, 0.25, 0.0),(0.1, 0.025, 0.0)

[led_effect process_end]
autostart:              false
frame_rate:             60
leds:
	neopixel:led_state
layers:
	gradient 0.2 0.5 add (0.0, 0.0, 0.01),(0.0, 0.0, 0.7),(0.0, 0.0, 0.01)

[led_effect process_leveling]
autostart:              false
frame_rate:             60
leds:
	neopixel:led_state
layers:
	gradient 0.2 0.5 add (0.01, 0.0, 0.01),(0.7, 0.0, 0.7),(0.01, 0.00, 0.01)

########################################
# GCODE Macro configuration
########################################

[gcode_macro STATE_READY]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=state_ready

[gcode_macro STATE_WAIT]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=state_wait

[gcode_macro PROGRESS_PRINT]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=progress_print

[gcode_macro PROGRESS_EXTRUDER]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=progress_extruder
	
#[gcode_macro PROGRESS_EXTRUDER1]
#gcode:
#    STOP_LED_EFFECTS
#    SET_LED_EFFECT EFFECT=progress_extruder1

[gcode_macro PROCESS_COOLDOWN]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=process_cooldown

[gcode_macro PROCESS_END]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=process_end

[gcode_macro PROCESS_LEVELING]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=process_leveling