########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 47.39
shaper_type_x: ei
shaper_freq_y: 36.48
shaper_type_y: ei

# [mcu rpi]
# serial: /tmp/klipper_host_mcu
