########################################
# Board Fysetc Spider V3.0 config
########################################
# S/N: ZBS352694
########################################
[include klipper-config/bed.cfg]
[include klipper-config/homing.cfg]
[include klipper-config/heaters.cfg]
[include klipper-config/fans.cfg]
[include klipper-config/gcode-macros.cfg]
[include klipper-config/input-shaper.cfg]
[include klipper-config/load-unload.cfg]
[include klipper-config/power.cfg]
[include klipper-config/steppers.cfg]
[include klipper-config/tools.cfg]
[include klipper-config/LED.cfg]
[include klipper-config/filament_box.cfg]
[include klipper-config/skew_correction.cfg]
[include klipper-config/layer_change.cfg]
[include timelapse.cfg]
[include klipper-config/timelapse-settings.cfg]
[include klipper-config/cooldown.cfg]
[include klipper-config/pause_resume_cancel.cfg]
[include klipper-config/buzzer.cfg]
[include klipper-config/speed.cfg]
# [include klipper-config/accelerometer.cfg]

########################################
# PRINTER MCU configuration
########################################

[mcu]
serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.3:1.0

[mcu expander]
serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.4:1.0 

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 50
max_z_accel: 60
square_corner_velocity: 15

########################################
# PRINTER PCB's temperatures
########################################

[temperature_sensor _RPICM4]
sensor_type: temperature_host

[temperature_sensor _MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor _Expander]
sensor_type: temperature_mcu
sensor_mcu: expander

########################################
# Initial action
########################################

# [delayed_gcode start_printer]
# initial_duration: 1
# gcode:
#     {% set svv = printer.save_variables.variables %}
#     {% set T_CALIBRATE = svv.t_calibrate | default(160) | float %}
#     RESPOND PREFIX="[+]" MSG="Подготовка принтера к работе"
#     G4 P2000
#     RESPOND PREFIX="[+]" MSG="Нагрев хотендов"
#     SET_HEATER_TEMPERATURE HEATER=extruder TARGET={T_CALIBRATE}
#     SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={T_CALIBRATE}
#     TEMPERATURE_WAIT SENSOR=extruder MINIMUM={T_CALIBRATE}
#     TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={T_CALIBRATE}
#     T0
#     G4 P1000
#     T1
#     G4 P1000
#     T0
#     TURN_OFF_HEATERS
#     BUZZER_START
#     RESPOND PREFIX="[+]" MSG="Принтер готов к работе"

[idle_timeout] 
timeout: 86400

[save_variables]
filename: ~/printer_data/config/variables.cfg

[respond]

[display_status]

[pause_resume]

[exclude_object]

[skew_correction]

[virtual_sdcard]
path: ~/printer_data/gcodes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.


