########################################
# BED LEVEL configuration
########################################

[probe]
pin: PA0 # Z-MIN
x_offset: 0.0
y_offset: 0.0
z_offset: -1
speed: 0.8
lift_speed: 25
samples: 1
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.04
samples_tolerance_retries: 0

[bed_mesh]
speed: 180
horizontal_move_z: 2
mesh_min:
    20,20
mesh_max:
    280,280
probe_count: 5,5

[gcode_macro G29]
description: Снятие карты неровностей стола.
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  BED_MESH_CALIBRATE

[z_tilt]
z_positions:
    -50,150
    350,150
points:
     10,150
     290,150
speed: 200
horizontal_move_z: 2
retries: 5
retry_tolerance: 0.04

[gcode_macro G34]
description: Выравнивание горизонта стола двумя двигателями.
gcode:
  {% if "xy" not in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  Z_TILT_ADJUST