[homing_override]
gcode:
  HOMING
set_position_z: 0

# [gcode_macro HOMING_Z]
# gcode:
#   #CHANGER_STATE
#   {% set svv = printer.save_variables.variables %}
#   #{% set changer_state = printer['gcode_button changer'].state %}
#   {% if svv.changer_state == "PRESSED" %}                                                 # changer with tool
#   G1 X300 Y300 F9000
#   G28 Z
#   G1 Z10 F900
#   G1 X{svv.t0x_safe} Y{svv.t0y_safe + 15} F{svv.speed_fast}
#   {% else %}                                                                          # changer without tool
#       M118 Что-то пошло не так. Проверьте положение печатных голов.
#   {% endif %}

[gcode_macro HOMING]
gcode:
  parking_state
  {% set svv = printer.save_variables.variables %}
  {% set ActiveTool = printer.toolhead.extruder %}
  {% set Parking0State = printer['gcode_button t0_parking'].state %} #{% set Parking0State = "PRESSED" %} #
  {% set Parking1State = printer['gcode_button t1_parking'].state %} #{% set Parking1State = "RELEASED" %} #
  {% if (Parking0State == "PRESSED") and (Parking1State == "PRESSED") %} # tool0 out of parking, tool1 out of parking
  M118 Что-то пошло не так. Проверьте положение печатных голов.
  {% else %}
      G91
      G1 Z3 F900
      G28 Y
      G28 X
      G90
      {% if ActiveTool == "extruder" %}                                                   # Active tool - tool0
            {% if (Parking0State == "RELEASED") and (Parking1State == "RELEASED")  %} #and (changer_state == "RELEASED") %}      # tool0 on parking, tool1 on parking, changer without tool
            _GET_extruder
            M400
            {% else %}
                  {% if (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %} # tool0 on parking, tool1 on slider
                  _PARK_extruder1
                  _GET_extruder
                  M400                                                                                     
                  {% endif %}                                                             # tool0 on slider, tool1 on parking - do nothing        
            {% endif %}
      {% else %}                                                                          # Active tool - tool1
            {% if (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %} #and (changer_state == "RELEASED") %}      # tool0 on parking, tool1 on parking, changer without tool
            ACTIVATE_EXTRUDER EXTRUDER=extruder
            _GET_EXTRUDER
            M400
            {% else %}
                  {% if (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %} # tool0 on parking, tool1 on slider
                  _PARK_extruder1
                  ACTIVATE_EXTRUDER EXTRUDER=extruder
                  _GET_extruder
                  M400
                  {% else %}                                                              # tool0 on slider, tool1 on parking 
                  ACTIVATE_EXTRUDER EXTRUDER=extruder
                  {% endif %} 
            {% endif %}
      {% endif %}
      G1 X300 Y300 F9000
      G28 Z
      G1 Z10 F900
      G1 X{svv.t0x_safe} Y{svv.t0y_park - 10} F{svv.speed_fast}
  {% endif %}
