########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 33.68
shaper_type_x: ei
shaper_freq_y: 30.75
shaper_type_y: ei

[mcu rpi]
serial: /tmp/klipper_host_mcu
