########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_Filament_Sensor]
pause_on_runout: False
runout_gcode:
	{% set tc = printer['zbolt_toolchanger'] %}
	{% if printer.print_stats.state == "printing" %}
		PAUSE
		RESPOND TYPE=error MSG="В левой голове (T0) закончился филамент!"
		T0
		G1 X{tc.tools.t0.safe_x} Y{tc.tools.t0.park_y} F18000
		G92 E0
		G1 E30 F100
		G92 E0
		UNLOAD_FILAMENT
		RESPOND PREFIX="[+]" MSG="Филамент из левой головы (T0) выгружен, загрузите новый"
		G1 X{tc.tools.t0.safe_x} Y{tc.tools.t0.safe_y} F18000
	{% endif %}
switch_pin: PC3 #TE3

[filament_switch_sensor Tool1_Filament_Sensor]
pause_on_runout: False
runout_gcode:
	{% set tc = printer['zbolt_toolchanger'] %}
	{% if printer.print_stats.state == "printing" %}
		PAUSE
		RESPOND TYPE=error MSG="В правой голове (T1) закончился филамент!"
		T1
		G1 X{tc.tools.t1.safe_x} Y{tc.tools.t1.park_y} F18000
		G92 E0
		G1 E30 F100
		G92 E0
		UNLOAD_FILAMENT
		RESPOND PREFIX="[+]" MSG="Филамент из правой головы (T1) выгружен, загрузите новый"
		G1 X{tc.tools.t1.safe_x} Y{tc.tools.t1.safe_y} F18000
	{% endif %}
switch_pin: PB1 #TE4
