########################################
# SKEW CORRECTION configuration
########################################

[gcode_macro SKEW]
gcode:
    SET_SKEW XY=300,300,212.13
    #SET_SKEW XY=299.3,299.75,211.9
[gcode_macro UNSKEW]
gcode:
    SET_SKEW XY=300,300,212.13

[delayed_gcode delayed_skew_correction]
gcode:
  SKEW
  GET_CURRENT_SKEW
initial_duration: 1