########################################
# PARKING configuration
########################################

[gcode_macro CHECK_PARK0]
gcode:
   {% set svv = printer.save_variables.variables %}
   {% set Parking0State = printer['gcode_button t0_parking'].state %}
   {% set Parking1State = printer['gcode_button t1_parking'].state %}
   {% if (Parking0State == "PRESSED") and (Parking1State == "RELEASED") %} # T0 на каретке, T1 на парковке
      RESPOND PREFIX="[+]" MSG="T0 - Слайдер - Движение разрешено"
   {% elif (Parking0State == "PRESSED") and (Parking1State == "PRESSED") %}
      {% if svv.start_check == 1 %}
      RESPOND TYPE="error" MSG="T0 и T1 вне парковок!"
         {% if printer.print_stats.state == "printing" %}
            PAUSE
         {% endif %}
      {% endif %}
   {% elif (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %}
      {% if svv.start_check == 1 %}
         RESPOND TYPE="error" MSG="T0 и T1 на парковках!"
         {% if printer.print_stats.state == "printing" %}
            PAUSE
         {% endif %}
      {% endif %}
   {% endif %}
   SAVE_VARIABLE VARIABLE=start_check VALUE=1

[gcode_macro CHECK_PARK1]
gcode:
   {% set svv = printer.save_variables.variables %}
   {% set Parking0State = printer['gcode_button t0_parking'].state %}
   {% set Parking1State = printer['gcode_button t1_parking'].state %}
   {% if (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %} # T0 на парковке, T1 на каретке
      RESPOND PREFIX="[+]" MSG="T1 - Слайдер - Движение разрешено"
   {% elif (Parking0State == "PRESSED") and (Parking1State == "PRESSED") %}
      {% if svv.start_check == 1 %}
         RESPOND TYPE="error" MSG="T0 и T1 вне парковок!"
         {% if printer.print_stats.state == "printing" %}
            PAUSE
         {% endif %}
      {% endif %}
   {% elif (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %}
      {% if svv.start_check == 1 %}
         RESPOND TYPE="error" MSG="T0 и T1 на парковках!"
         {% if printer.print_stats.state == "printing" %}
            PAUSE
         {% endif %}
      {% endif %}
   {% endif %}
   SAVE_VARIABLE VARIABLE=start_check VALUE=1

[gcode_macro _START_CHECK0]
gcode:
   SAVE_VARIABLE VARIABLE=start_check VALUE=0

[gcode_button t0_parking]
pin: ^!PA1 # Xmax
press_gcode: 
release_gcode: 

[gcode_button t1_parking]
pin: ^!PB13 # Ymin
press_gcode:
release_gcode: 

[gcode_macro PARKING_STATE]
gcode:
   {% set svv = printer.save_variables.variables %}
   SAVE_VARIABLE VARIABLE=t0parking_state VALUE='"{printer['gcode_button t0_parking'].state}"'
   SAVE_VARIABLE VARIABLE=t1parking_state VALUE='"{printer['gcode_button t1_parking'].state}"'   
   {% if printer.toolhead.extruder == 'extruder' %}
      RESPOND PREFIX="[+]" MSG="Активная голова - Левая (T0)"
   {% elif printer.toolhead.extruder == 'extruder1' %}
      RESPOND PREFIX="[+]" MSG="Активная голова - Правая (T1)"
   {% endif %}
   {% if (svv.t0parking_state == 'PRESSED') and (svv.t1parking_state == 'RELEASED') %}
      RESPOND PREFIX="[+]" MSG="T0 - Слайдер T1 - Парковка"
   {% elif (svv.t0parking_state == 'RELEASED') and (svv.t1parking_state == 'RELEASED') %}
      RESPOND PREFIX="[+]" MSG="T0 - Парковка T1 - Парковка"
   {% elif (svv.t0parking_state == 'PRESSED') and (svv.t1parking_state == 'PRESSED') %}
      RESPOND PREFIX="[+]" MSG="T0 - Слайдер T1 - Слайдер"
   {% endif %}
