########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_FS]
pause_on_runout: False
runout_gcode:
    {% if printer.print_stats.state == "printing" %}
        PAUSE
        RESPOND TYPE=error MSG="В левой голове (T0) закончился филамент!"
        G4 P2000
        T0
        _PARK_EXTRUDER0
        G92 E0
        G1 E30 F100
        G92 E0
        UNLOAD_FILAMENT
        RESPOND PREFIX="[+]" MSG="Филамент из левой головы (T0) выгружен, загрузите новый"
    {% endif %}
switch_pin: ^PA6 #EXP_2

[filament_switch_sensor Tool1_FS]
pause_on_runout: False
runout_gcode:
    {% if printer.print_stats.state == "printing" %}
        PAUSE
        RESPOND TYPE=error MSG="В правой печатающей голове (T1) закончился филамент!"
        G4 P2000
        T1
        _PARK_EXTRUDER1
        G92 E0
        G1 E30 F100
        G92 E0
        UNLOAD_FILAMENT
        RESPOND PREFIX="[+]" MSG="Филамент из правой головы (T1) выгружен, загрузите новый"
    {% endif %}
switch_pin: ^PC6 #EXP_2
