########################################
# HEATERS configuration
########################################
[extruder] # 24v140W
step_pin: PD5 # E0-MOTOR
dir_pin: PD6 # E0-MOTOR 
enable_pin: !PD4 # E0-MOTOR
microsteps: 16
rotation_distance: 5.685 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB4 # BED_OUT
sensor_type: PT1000
sensor_pin: PC0 # T0
min_temp: 0
max_temp: 610
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03

[verify_heater extruder]
max_error: 240
check_gain_time: 60
hysteresis: 10
heating_gain: 2

[extruder_stepper _pulling_extruder]
extruder: extruder
step_pin: PC12
dir_pin: PD2
enable_pin: !PD1
microsteps: 16
rotation_distance: 23.1
pressure_advance: 0.03

[extruder1]
step_pin: PE1 # E4-MOTOR
dir_pin: PE0 # E4-MOTOR
enable_pin: !PC5 # E4-MOTOR
microsteps: 16
rotation_distance: 5.68 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8 # HEAT1
sensor_type: PT1000
sensor_pin: PC1 # T1
min_temp: 0
max_temp: 455
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03

[verify_heater extruder1]
max_error: 240
check_gain_time: 60
hysteresis: 10
heating_gain: 2

[extruder_stepper _pulling_extruder1]
extruder: extruder1
step_pin: PC10
dir_pin: PC11
enable_pin: !PD0
microsteps: 16
rotation_distance: 23
pressure_advance: 0.03

[heater_bed]
heater_pin: PB15 # HEAT_0
sensor_type: temperature_combined
sensor_list: temperature_sensor _Bed_0, temperature_sensor _Bed_1
combination_method: mean
maximum_deviation: 20
min_temp: 0
max_temp: 115

[temperature_sensor _Bed_0]
sensor_type: PT1000
sensor_pin: PB0 # TB
min_temp: 5
max_temp: 115

[temperature_sensor _Bed_1]
sensor_type: PT1000
sensor_pin: PB1 # T4
min_temp: 5
max_temp: 115

[heater_generic chamber]
gcode_id: chamber
heater_pin: PB3 # HEAT_2 
sensor_type: temperature_combined
sensor_list: temperature_sensor _Chamber_left, temperature_sensor _Chamber_right
combination_method: mean
maximum_deviation: 10
pid_kp: 57.571
pid_ki: 1.153
pid_kd: 718.913
min_temp: 0
max_temp: 95

[temperature_sensor _Chamber_left]
sensor_type: PT1000
sensor_pin: PC3 # T3
min_temp: 5
max_temp: 100

[temperature_sensor _Chamber_right]
sensor_type: PT1000
sensor_pin: PC2 # T2
min_temp: 5
max_temp: 100

[verify_heater chamber]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[gcode_macro M109]
rename_existing: M109.0
gcode:
  {% set T_EXTRUDER = params.S | default(230) | float %}
  {% set Tool = params.T | default(0) | float %}
  {% if Tool == 0 %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={T_EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={T_EXTRUDER}
    {% else %}
      SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={T_EXTRUDER} 
      TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={T_EXTRUDER}
  {% endif %}