########################################
# HEATERS configuration
########################################
[extruder] # 24v140W
step_pin: PD5 # E0-MOTOR
dir_pin: !PD6 # E0-MOTOR 
enable_pin: !PD4 # E0-MOTOR
microsteps: 16
rotation_distance: 5.685 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB15 # HEAT0
sensor_type: PT1000 #EPCOS 100K B57560G104F #
sensor_pin: PC0 # T0
min_temp: -100
max_temp: 510
control = pid
pid_kp = 10.550
pid_ki = 0.291
pid_kd = 95.739
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03

[verify_heater extruder]
max_error: 240
check_gain_time: 60
hysteresis: 10
heating_gain: 2

[extruder1]
step_pin: PE1 # E4-MOTOR
dir_pin: !PE0 # E4-MOTOR
enable_pin: !PC5 # E4-MOTOR
microsteps: 16
rotation_distance: 5.68 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8 # HEAT1
sensor_type: PT1000
sensor_pin: PC1 # T1
min_temp: -100
max_temp: 500
control = pid
pid_kp = 10.550
pid_ki = 0.291
pid_kd = 95.739
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03

[verify_heater extruder1]
max_error: 240
check_gain_time: 60
hysteresis: 10
heating_gain: 2

[extruder_stepper _pulling_extruder]
extruder: extruder
step_pin: PD1
dir_pin: !PC9
enable_pin: !PA5
microsteps: 64
rotation_distance: 23.1
pressure_advance: 0.03

[extruder_stepper _pulling_extruder1]
extruder: extruder1
step_pin: PC12
dir_pin: PC11
enable_pin: !PA5
microsteps: 64
rotation_distance: 23.1
pressure_advance: 0.03

########################################
# Segmented bed (multiplex_heater)
# Требует multiplex_heater*.py в прошивке Z-Bolt (klippy/extras)
########################################
#          |-------------------|
#          |         |         |
#          |    B1   |    B2   |
#          |         |         |
#          |-------------------|
#          |         |         |
#          |    B0   |    B3   |
#          |         |         |
#          |X0Y0---------------|
#                  DOOR


[multiplex_heater heater_bed]
gcode_id: B
min_temp: 0
max_temp: 145

[multiplex_heater_segment heater_bed0] #Передняя левая плита
multiplex_heater: heater_bed
heater_pin: expander: PB4 #TOP_SPIDER BED_OUT 
sensor_type: PT1000
sensor_pin: expander: PC0 #TOP_SPIDER T0
max_power: 0.7
control: pid
pid_Kp: 40
pid_Ki: 1.2
pid_Kd: 335
min_temp: 0
max_temp: 145

[verify_heater _heater_bed0]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[multiplex_heater_segment heater_bed1] #Задняя левая плита
multiplex_heater: heater_bed
heater_pin: expander: PB3 #TOP_SPIDER HEAT2
sensor_type: PT1000
sensor_pin: expander: PC1 #TOP_SPIDER T1
max_power: 0.7
control: pid
pid_Kp: 40
pid_Ki: 1.2
pid_Kd: 335
min_temp: 0
max_temp: 145

[verify_heater _heater_bed1]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[multiplex_heater_segment heater_bed2] #Задняя правая плита
multiplex_heater: heater_bed
heater_pin: expander: PC8 #TOP_SPIDER HEAT1 
sensor_type: PT1000
sensor_pin: expander: PC2 #TOP_SPIDER T2
max_power: 0.7
control: pid
pid_Kp: 40
pid_Ki: 1.2
pid_Kd: 335
min_temp: 0
max_temp: 145

[verify_heater _heater_bed2]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[multiplex_heater_segment heater_bed3] #Передняя правая плита
multiplex_heater: heater_bed
heater_pin: expander: PB15 #TOP_SPIDER HEAT0 
sensor_type: PT1000
sensor_pin: expander: PC3 #TOP_SPIDER T3
max_power: 0.7
control: pid
pid_Kp: 40
pid_Ki: 1.2
pid_Kd: 335
min_temp: 0
max_temp: 145

[verify_heater _heater_bed3]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

########################################
# Chamber (multiplex_heater)
########################################
[multiplex_heater chamber]
gcode_id: C
min_temp: 0
max_temp: 95

[multiplex_heater_segment chamber0] # Левый нагреватель
multiplex_heater: chamber
heater_pin: PB3 #HEAT2 
sensor_type: PT1000
sensor_pin: PC3 #T3
max_power: 0.9
control: pid
pid_Kp: 57.571
pid_Ki: 1.153
pid_Kd: 718.913
min_temp: 0
max_temp: 95

[verify_heater _chamber0]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[multiplex_heater_segment chamber1] # Правый нагреватель
multiplex_heater: chamber
heater_pin: PB4 #BED_OUT
sensor_type: PT1000
sensor_pin: PB1 #T4
max_power: 0.9
control: pid
pid_Kp: 57.571
pid_Ki: 1.153
pid_Kd: 718.913
min_temp: 0
max_temp: 95

[verify_heater _chamber1]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2
