########################################
#### HOMING CONFIGURATION REALTOUCH ####
########################################

[homing_override] # RealTouch
axes: xyz
set_position_x: 0
set_position_z: 0
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set offset_x = range(-25, 25) | random %}					#generate x-offset
 	{% set offset_y = range(-25, 25) | random %}					#generate y-offset
    G91																#relative coordinates
    G1 Z10 F2100													#move bed down 10mm
	T0
    G90				 												#absolute coordinates
    G28 X															#home Y axe
    G28 Y 															#home X axe
 	# G1 X5 Y5 F12000
	# G1 X{400 + offset_x} Y{400 + offset_y} F18000					#move xy to random position
	G1 X400 Y400 F18000												#move XY to center
 	G28 Z															#home z axe
 	G1 Z20 F2100													#move bed down 20mm
	G1 X10 Y10 F18000