########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 26.05
shaper_type_x: ei
shaper_freq_y: 43.97
shaper_type_y: zvd
