########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 113.6
shaper_type_x: 3hump_ei
shaper_freq_y: 56.6
shaper_type_y: 3hump_ei
