########################################
# SKEW CORRECTION configuration
########################################

[gcode_macro SKEW]
gcode:
    SET_SKEW XY=300,300,212.3

[delayed_gcode delayed_skew_correction]
gcode:
  SKEW
  GET_CURRENT_SKEW
initial_duration: 1