########################################
# STEPPER configuration
########################################
[force_move]
enable_force_move: True  

[stepper_x]
step_pin: PE11 # X-MOTOR
dir_pin: !PE10 # X-MOTOR
enable_pin: !PE9 # X-MOTOR
rotation_distance: 48
microsteps: 64
endstop_pin: PB13 #Y-MIN
position_min: -66
position_endstop: -65
position_max: 805
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_y]
step_pin: PD8 # Y-MOTOR
dir_pin: PB12 # Y-MOTOR
enable_pin: !PD9 # Y-MOTOR
rotation_distance: 48
microsteps: 64
endstop_pin: PB14 # X-MIN
position_min: -1
position_endstop: 830
position_max: 831
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_z]
step_pin: PD14 # Z-MOTOR
dir_pin: !PD13 # Z-MOTOR
enable_pin: !PD15 # Z-MOTOR
microsteps: 64
rotation_distance: 8
position_min: -3
position_max: 801
homing_speed: 8
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 5
homing_retract_speed: 3
second_homing_speed: 2

[stepper_z1]
step_pin: PE6 # E1-MOTOR
dir_pin: !PC13 # E1-MOTOR
enable_pin: !PE5 # E1-MOTOR
microsteps: 64
rotation_distance: 8

[stepper_z2]
step_pin: PE2 # E2-MOTOR
dir_pin: !PE4 # E2-MOTOR
enable_pin: !PE3 # E2-MOTOR
microsteps: 64
rotation_distance: 8

[stepper_z3]
step_pin: PD12 # E3-MOTOR
dir_pin: !PC4 # E3-MOTOR
enable_pin: !PE8 # E3-MOTOR
microsteps: 64
rotation_distance: 8

########################################
# TMC UART configuration
########################################
[tmc5160 stepper_x]
cs_pin: PE7
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.00
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc5160 stepper_y]
cs_pin: PE15
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.00
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc5160 stepper_z]
cs_pin: PD10
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.000
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc5160 stepper_z1]
cs_pin: PC14
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.000
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc5160 stepper_z2]
cs_pin: PC15
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.000
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc5160 stepper_z3]
cs_pin: PA15
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
run_current: 2.000
sense_resistor: 0.033
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PD7 # E1-MOTOR
run_current: 0.700 # motor g36hsy4405 1A
stealthchop_threshold: 0

[tmc2209 extruder1]
uart_pin: PD11 # E4-MOTOR
run_current: 0.700 # motor g36hsy4405 1A
stealthchop_threshold: 0

[tmc2209 extruder_stepper _pulling_extruder]
uart_pin: PA7 # Pulling_0
uart_address: 0
run_current: 1 # motor 
stealthchop_threshold: 0
interpolate: False

[tmc2209 extruder_stepper _pulling_extruder1]
uart_pin: PA7 # Pulling_1
uart_address: 2
run_current: 1 # motor 
stealthchop_threshold: 0
interpolate: False


