########################################
# Board Fysetc Spider V3.0 config
########################################
# S/N: ZBS352588
########################################
[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include klipper-config/tools.cfg]
[include klipper-config/steppers.cfg]
[include klipper-config/heaters.cfg]
[include klipper-config/power.cfg]
[include klipper-config/LED.cfg]
[include klipper-config/bed.cfg]
[include klipper-config/fans.cfg]
[include klipper-config/filament-sensors.cfg]
[include klipper-config/input-shaper.cfg]
[include klipper-config/gcode-macros.cfg]
[include klipper-config/load-unload.cfg]
[include klipper-config/homing.cfg]
[include klipper-config/parking.cfg]
[include klipper-config/skew_correction.cfg]

########################################
# PRINTER MCU configuration
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_32003E001951333134383631-if00

[temperature_sensor Raspberry Pi]
sensor_type: temperature_host

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 20
max_z_accel: 20
square_corner_velocity: 15

[idle_timeout] 
timeout: 43200

[save_variables]
filename: /home/pi/printer_data/config/toolchanger-settings.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes

[idle_timeout] 
timeout: 43200

[respond]

[display_status]

[pause_resume]

[skew_correction]

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 14.707
#*# pid_ki = 0.500
#*# pid_kd = 108.096
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 16.343
#*# pid_ki = 0.690
#*# pid_kd = 96.833
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.034
#*# pid_ki = 1.890
#*# pid_kd = 612.305
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  1.218475, 1.380772, 1.455678, 1.445691, 1.290884, 1.033706
#*# 	  1.205991, 1.388262, 1.470659, 1.450684, 1.305866, 1.063669
#*# 	  1.191009, 1.398250, 1.495628, 1.475653, 1.360797, 1.141072
#*# 	  1.163544, 1.330834, 1.405741, 1.418225, 1.328337, 1.141072
#*# 	  1.096128, 1.240947, 1.320847, 1.345816, 1.280897, 1.088637
#*# 	  1.033706, 1.151059, 1.240947, 1.300872, 1.278400, 1.126091
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 410.0
#*# min_y = 0.0
#*# max_y = 390.0
