########################################
# Board Fysetc Spider V3.0 config
########################################
# S/N: ZBS3526xx
########################################

[include klipper-config/tools.cfg]
[include klipper-config/cooldown.cfg]
[include klipper-config/pause_resume_cancel.cfg]
[include klipper-config/steppers.cfg]
[include klipper-config/heaters.cfg]
[include klipper-config/power.cfg]
[include klipper-config/LED.cfg]
[include klipper-config/bed.cfg]
[include klipper-config/fans.cfg]
[include klipper-config/filament-sensors.cfg]
[include klipper-config/input-shaper.cfg]
[include klipper-config/gcode-macros.cfg]
[include klipper-config/load-unload.cfg]
[include klipper-config/homing.cfg]
[include klipper-config/parking.cfg]
[include klipper-config/skew_correction.cfg]
[include klipper-config/led-effects.cfg]
[include klipper-config/layer_change.cfg]
# [include klipper-config/accelerometer.cfg]

########################################
# PRINTER MCU configuration
########################################

[mcu]
serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.3:1.0

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 3500
max_z_velocity: 25
max_z_accel: 20
square_corner_velocity: 15

[idle_timeout] 
timeout: 86400

[save_variables]
filename: ~/printer_data/config/toolchanger-settings.cfg

[respond]

[display_status]

[pause_resume]

[exclude_object]

[skew_correction]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 12.796
#*# pid_ki = 0.379
#*# pid_kd = 107.966
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 15.890
#*# pid_ki = 0.549
#*# pid_kd = 115.002
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.905
#*# pid_ki = 2.000
#*# pid_kd = 463.642
#*#
#*# [heater_generic chamber]
#*# control = pid
#*# pid_kp = 57.571
#*# pid_ki = 1.153
#*# pid_kd = 718.913
