########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_Filament_Sensor]
pause_on_runout: True
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% if svv.filament_check == 1 %}
   G92 E0
   G1 E40 F100
   RESPOND TYPE="error" MSG="Проверьте филамент в 1-й голове!" 
   G1 E-10 F100
   G1 E-20 F300
   G1 E-200 F1500
   G92 E0 
   RESPOND PREFIX="[+]" MSG="Филамент выгружен из 1-й головы, загрузите новый"
   {% endif %}
switch_pin: PC3 # T3

[filament_switch_sensor Tool1_Filament_Sensor]
pause_on_runout: True
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% if svv.filament_check == 1 %}
   RESPOND TYPE="error" MSG="Проверьте филамент во 2-й голове!"
   G4 P3000
   RESPOND PREFIX="[+]" MSG="Извлеките трубку из датчика филамента и извлеките филамент"
   {% endif %}
switch_pin: PB1 # T4

[gcode_macro _FILAMENT_CHECK0]
gcode:
	SAVE_VARIABLE VARIABLE=filament_check VALUE=0

[gcode_macro _FILAMENT_CHECK1]
gcode:
	SAVE_VARIABLE VARIABLE=filament_check VALUE=1

[delayed_gcode FS_delayed_gcode]
gcode:
	_FILAMENT_CHECK0
initial_duration: 1