########################################
# FANS configuration
########################################

[fan]
pin: PA14 # FAN1

[heater_fan _front_fan]
pin: PA13 # FAN0
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[heater_fan _chamber_fan]
pin: PA3 # Z_MAX
heater: chamber
heater_temp: 45.0
fan_speed: 1.0
shutdown_speed: 0

[fan_generic Chamber_fan]
pin: PB5 # FAN 3

[gcode_macro M106]
rename_existing: M106.1
gcode:
	{% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
	{% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
	{% if fan == 'fan3' %}
		SET_FAN_SPEED FAN=Chamber_fan SPEED={speed}
	{% endif %}
	{% if params.S is defined and fan == 'fan0' %}
		{% set speed = params.S|string %}
		M106.1 S{speed}
	{% endif %}
