########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_Filament_Sensor]
pause_on_runout: True
runout_gcode:
   G92 E0
   G1 E20 F100
   M118 Проверьте филамент в T0
   G1 E-10 F100
   G1 E-20 F500
   G1 E-200 F1500
   G92 E0 
   M118 Филамент выгружен из T0, загрузите новый
switch_pin: PC3 #TE3

[filament_switch_sensor Tool1_Filament_Sensor]
pause_on_runout: True
runout_gcode:
   G92 E0
   G1 E20 F100
   M118 Проверьте филамент в T1
   G1 E-10 F100
   G1 E-20 F500
   G1 E-200 F1500
   G92 E0 
   M118 Филамент выгружен из T1, загрузите новый
switch_pin: PB1 #TE4

[gcode_macro FILAMENT_CHECK0]
gcode = 
	SAVE_VARIABLE VARIABLE=filament_check VALUE=0

[gcode_macro FILAMENT_CHECK1]
gcode = 
	SAVE_VARIABLE VARIABLE=filament_check VALUE=1

[delayed_gcode FS_delayed_gcode]
gcode = 
	FILAMENT_CHECK0
initial_duration = 1