[homing_override]
gcode:
  HOMING
set_position_z: 0

[gcode_macro HOMING]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set ActiveTool = printer.toolhead.extruder %}
	{% set Parking0State = printer['gcode_button t0_parking'].state %} 					# RELEASED = печатная голова T0 на парковке, PRESSED = печатная голова T0 НЕ на парковке
	{% set Parking1State = printer['gcode_button t1_parking'].state %} 					# RELEASED = печатная голова T1 на парковке, PRESSED = печатная голова T1 НЕ на парковке
	#parking_state
	{% if (Parking0State == "PRESSED") and (Parking1State == "PRESSED") %} 				# На парковке нет ни одной ПГ
	M118 На парковках нет ни одной печатной головы. Проверьте положение печатных голов!
	{% else %}
		G91
		G1 Z2 F900
		G28 Y
		G28 X
		G90
		{% if ActiveTool == "extruder" %} 												# Активный инструмент - T0
			{% if (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %} 	# Обе ПГ на парковке
			M118 Обе ПГ на парковке
			GET_extruder																# снимаем с парковки T0
			{% else %}
				{% if (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %}	# T0 на парковке, T1 на каретке
				M118 T0 на парковке, T1 на каретке
				PARK_extruder1															# cтавим на парковку T1
				GET_extruder															# снимаем с парковки T0
				{% endif %}
				M118 T0 на каретке, T1 на парковке																# T0 на каретке, T1 на парковке
				GET_extruder															# снимаем с парковки T0
			{% endif %}
		{% else %}																		# Активный инструмент - T1
			{% if (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %}	# Обе ПГ на парковке
			M118 Обе ПГ на парковке
			ACTIVATE_EXTRUDER EXTRUDER=extruder											# Делаем активным инструментом T0
			GET_EXTRUDER																# снимаем с парковки T0
			{% else %}
				{% if (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %} # T0 на парковке, T1 на каретке
				M118 T0 на парковке, T1 на каретке
				PARK_extruder1															# cтавим на парковку T1
				ACTIVATE_EXTRUDER EXTRUDER=extruder										# Делаем активным инструментом T0
				GET_EXTRUDER															# снимаем с парковки T0
				{% else %}																# T0 на каретке, T1 на парковке
				M118 T0 на каретке, T1 на парковке
				ACTIVATE_EXTRUDER EXTRUDER=extruder										# Делаем активным инструментом T0
				GET_extruder															# снимаем с парковки T0
				{% endif %}
			{% endif %}
		{% endif %}
	G90
	G1 X150 Y150 F9000
	M400
	CHECK_PARK_HOME
	{% endif %}

[gcode_macro CHECK_PARK_HOME]
gcode:
   {% set Parking0State = printer['gcode_button t0_parking'].state %}
   {% if (Parking0State == "PRESSED")  %} # T0 на каретке
   M118 все под контролем , хоумимся
   G28 Z
	G1 Z2 F900
	G1 X10 Y290 F9000
   {% else %} # на каретке нет печатной головы T0
      M118 На каретке нет печатной головы. Проверьте координаты парковок.
      G1 X150 Y0
   {% endif %}