########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Filament_Sensor]
pause_on_runout: false
runout_gcode:
	{% if printer.print_stats.state == "printing" %}
		PAUSE
		RESPOND TYPE=error MSG="Закончился филамент!"
		G4 P2000
		G92 E0
		G1 E30 F100
		G92 E0
		UNLOAD_FILAMENT
		RESPOND PREFIX="[+]" MSG="Филамент выгружен, загрузите новый"
	{% endif %}
switch_pin: PA1 # X-MAX 