########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 49.18
shaper_type_x: ei
shaper_freq_y: 36.14
shaper_type_y: ei

#[mcu rpi]
#serial: /tmp/klipper_host_mcu
