########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 46.91
shaper_type_x: mzv
shaper_freq_y: 48.41
shaper_type_y: zv

[mcu rpi]
serial: /tmp/klipper_host_mcu
