########################################
# LAYER CHANGE configuration
########################################

[gcode_macro _BEFORE_LAYER_CHANGE]
gcode:
	_PAUSE_ON_LAYER
	{% set svv = printer.save_variables.variables %}
	{% if (not svv.use_hyperlapse) and svv.use_timelapse %}
		TIMELAPSE_TAKE_FRAME
	{% endif %}

[gcode_macro _AFTER_LAYER_CHANGE]
gcode:
		# {% set Z = params.Z %}
		# _LOG_Z Z={Z}

[gcode_macro _PAUSE_ON_LAYER]
description: Принтер станет в паузу после ближайшей смены слоя
gcode:
	{% set svv = printer.save_variables.variables %}
	{% if ( printer.print_stats.state  == "printing" ) and svv.pause_on_layer %}
		PAUSE
		RESPOND PREFIX="[+]" MSG="Смена слоя. Пауза"
		SAVE_VARIABLE VARIABLE=pause_on_layer VALUE=False
	{% endif %}

[delayed_gcode pause_on_layer_off]
gcode:
	SAVE_VARIABLE VARIABLE=pause_on_layer VALUE=False
initial_duration: 0.5

[gcode_macro CHANGE_PAUSE_ON_LAYER]
description: При нажатии изменяет состояние вызова паузы на смене слоя
gcode:
	{% set svv = printer.save_variables.variables %}
	{% if printer.print_stats.state  == "printing" %}
		{% if not svv.pause_on_layer %}
			RESPOND PREFIX="[+]" MSG="При ближайшей смене слоя принтер станет в паузу"
			SAVE_VARIABLE VARIABLE=pause_on_layer VALUE=True
		{% else %}
			RESPOND PREFIX="[!]" MSG="Отмена паузы при ближайшей смене слоя"
			SAVE_VARIABLE VARIABLE=pause_on_layer VALUE=False
		{% endif %}
	{% else %}
		RESPOND PREFIX="[!]" MSG="Для работы функции должна быть запущена печать"
	{% endif %}
