########################################
# STEPPER configuration
########################################

[stepper_x]
step_pin: PE11 # X-MOTOR
dir_pin: !PE10 # X-MOTOR
enable_pin: !PE9 # X-MOTOR
rotation_distance: 40
microsteps: 64
endstop_pin: PB14 # X-MIN
position_min: -1
position_endstop: 2.5 # MIN
position_max: 301
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_y]
step_pin: PD8 # Y-MOTOR
dir_pin: !PB12 # Y-MOTOR
enable_pin: !PD9 # Y-MOTOR
rotation_distance: 40
microsteps: 64
endstop_pin: PA2 # Y-MAX
position_min: -70
position_endstop: 302 # MAX
position_max: 302
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_z]
step_pin: PD14 # Z-MOTOR
dir_pin: PD13 # Z-MOTOR
enable_pin: !PD15 # Z-MOTOR
microsteps: 64
rotation_distance: 7.976
position_min: -3
endstop_pin: probe:z_virtual_endstop # Z-MIN
position_max: 351
homing_speed: 25
homing_retract_speed: 3
second_homing_speed: 3
homing_retract_dist: 5

[stepper_z1]
step_pin: PE6 # E1-MOTOR
dir_pin: PC13 # E1-MOTOR
enable_pin: !PE5 # E1-MOTOR
microsteps: 64
rotation_distance: 7.976

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE7 # X-MOTOR
run_current: 1.200
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_y]
uart_pin: PE15 # Y-MOTOR
run_current: 1.200
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_z]
uart_pin: PD10 # Z-MOTOR
run_current: 1.100
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_z1]
uart_pin: PC14 # E1-MOTOR
run_current: 1.100
stealthchop_threshold: 0
interpolate: False

[tmc2209 extruder]
uart_pin: PD7 # E0-MOTOR
run_current: 0.700 # motor g36hsy4405 1A
stealthchop_threshold: 0
interpolate: False

[tmc2209 extruder1]
uart_pin: PC15 # E2-MOTOR
run_current: 0.700 # motor g36hsy4405 1A
stealthchop_threshold: 0
interpolate: False