########################################
# TOOLS configuration
########################################

[output_pin sol]
pin: PB15 # HEAT0
pwm: True
value: 1
shutdown_value: 1

[gcode_macro _SOL_ON]
gcode:
	SET_PIN PIN=sol VALUE=1

[gcode_macro _SOL_OFF]
gcode:
	SET_PIN PIN=sol VALUE=0	

[gcode_macro _PARK_EXTRUDER]
gcode:
   {% set svv = printer.save_variables.variables %}
   {% set t0x_safe = svv.t0x_park + 55 %}
   {% set t0y_safe = svv.t0y_park + 20 %}
	SAVE_GCODE_STATE NAME=park0
	M220 S100
	G90
	_SET_GCODE_OFFSET_INTERNAL X=0 Y=0
	G1 X{t0x_safe} Y0 F{svv.speed_fast}
   	G1 X{t0x_safe} Y{t0y_safe} F{svv.speed_fast}
   	G1 X{t0x_safe} Y{svv.t0y_unpark} F{svv.speed_fast}
   	G1 X{svv.t0x_park} Y{svv.t0y_park} F{svv.speed_slow}
	SET_PIN PIN=sol VALUE=0
	G4 P{svv.delay}
   	G1 X{svv.t0x_unpark} Y{t0y_safe} F{svv.speed_slow}
	RESTORE_GCODE_STATE NAME=park0
	
[gcode_macro _PARK_EXTRUDER0]
gcode:
   _PARK_EXTRUDER

[gcode_macro _GET_EXTRUDER]
gcode:
   	{% set svv = printer.save_variables.variables %}
   	{% set t0x_safe = svv.t0x_park + 55 %}
   	{% set t0y_safe = svv.t0y_park + 20 %}
	{% set x_cur = printer['tmc2209 stepper_x'].run_current %}
	{% set y_cur = printer['tmc2209 stepper_y'].run_current %}
	SAVE_GCODE_STATE NAME=get0
	M220 S100
	G90
	_SET_GCODE_OFFSET_INTERNAL X=0 Y=0
	SET_PIN PIN=sol VALUE=1
	G1 X{svv.t0x_unpark} Y{t0y_safe} F{svv.speed_fast}
   	G1 X{svv.t0x_park} Y{svv.t0y_park} F{svv.speed_slow}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_cur * 1.5}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_cur * 1.5}
	G1 X{t0x_safe} Y{svv.t0y_unpark} F{svv.speed_slow}
	G1 X{t0x_safe} Y0 F{svv.speed_fast}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_cur}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_cur}
	RESTORE_GCODE_STATE NAME=get0
	{% set z_off = svv.offset_z|default(0)|float %}
	{% set t0_z = svv.t0offset|float + z_off %}
	_SET_GCODE_OFFSET_INTERNAL X=0 Y=0 Z={t0_z}

[gcode_macro _GET_EXTRUDER0]
gcode:
	_GET_EXTRUDER

[gcode_macro _PARK_EXTRUDER1]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set t1x_safe = svv.t1x_park - 55 %}
	{% set t1y_safe = svv.t1y_park + 20 %}
	SAVE_GCODE_STATE NAME=park1
	M220 S100
	G90
	_SET_GCODE_OFFSET_INTERNAL X=0 Y=0
	G1 X{t1x_safe} Y0 F{svv.speed_fast}
	G1 X{t1x_safe} Y{t1y_safe} F{svv.speed_fast}
	G1 X{t1x_safe} Y{svv.t1y_unpark} F{svv.speed_fast}
	G1 X{svv.t1x_park} Y{svv.t1y_park} F{svv.speed_slow}
	SET_PIN PIN=sol VALUE=0
	G4 P{svv.delay}
	G1 X{svv.t1x_unpark} Y{t1y_safe} F{svv.speed_slow}
	RESTORE_GCODE_STATE NAME=park1

[gcode_macro _GET_EXTRUDER1]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set t1x_safe = svv.t1x_park - 55 %}
   	{% set t1y_safe = svv.t1y_park + 20 %}
	{% set x_cur = printer['tmc2209 stepper_x'].run_current %}
	{% set y_cur = printer['tmc2209 stepper_y'].run_current %}
	SAVE_GCODE_STATE NAME=get1
	M220 S100
	G90
	_SET_GCODE_OFFSET_INTERNAL X=0 Y=0
	SET_PIN PIN=sol VALUE=1
	G1 X{svv.t1x_unpark} Y{t1y_safe} F{svv.speed_fast}
   	G1 X{svv.t1x_park} Y{svv.t1y_park} F{svv.speed_slow}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_cur * 1.5}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_cur * 1.5}
	G1 X{t1x_safe} Y{svv.t1y_unpark} F{svv.speed_slow}
	G1 X{t1x_safe} Y0 F{svv.speed_fast}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_cur}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_cur}
	RESTORE_GCODE_STATE NAME=get1
	{% set z_off = svv.offset_z|default(0)|float %}
	{% set t1_z = svv.t1_z_offset|float + z_off %}
	_SET_GCODE_OFFSET_INTERNAL X={svv.t1_x_offset} Y={svv.t1_y_offset} Z={t1_z}
 
[gcode_macro _PUSH_EXTRUDER0]
gcode:
   	{% set svv = printer.save_variables.variables %}
	{% set t0x_safe = svv.t0x_park + 55 %}
   	{% set t0y_safe = svv.t0y_park + 20 %}
	{% set push_x = svv.t0x_park + 5 %}
	{% set push_y = svv.t0y_park + 15 %}
   	SAVE_GCODE_STATE NAME=push0
   	G90
   	G1 X{push_x} Y{push_y} F{svv.speed_fast}
	G91
	_SOL_ON
	G1 Y-{svv.t0y_jerk} F300
	G4 P{svv.delay}
	G1 Y{svv.t0y_jerk} F3000
	G90
   	G1 X{t0x_safe} Y{t0y_safe} F{svv.speed_fast}
   	RESTORE_GCODE_STATE NAME=push0

[gcode_macro _PUSH_EXTRUDER1]
gcode:
   	{% set svv = printer.save_variables.variables %}
	{% set t1x_safe = svv.t1x_park - 55 %}
   	{% set t1y_safe = svv.t1y_park + 20 %}
	{% set push_x = svv.t1x_park - 5 %}
	{% set push_y = svv.t1y_park + 15 %}
   	SAVE_GCODE_STATE NAME=push1
   	G90
   	G1 X{push_x} Y{push_y} F{svv.speed_fast}
	G91
	_SOL_ON
	G1 Y-{svv.t1y_jerk} F300
	G4 P{svv.delay}
	G1 Y{svv.t1y_jerk} F3000
	G90
   	G1 X{t1x_safe} Y{t1y_safe} F{svv.speed_fast}
   	RESTORE_GCODE_STATE NAME=push1

[gcode_macro T0]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set z_off = svv.offset_z|default(0)|float %}
	{% set current_z = printer.gcode_move.homing_origin.z|float %}
	{% if printer.toolhead.extruder == 'extruder1' %}
		{% set stored_z = (svv.t1_z_offset|float + z_off) %}
	{% else %}
		{% set stored_z = (svv.t0offset|float + z_off) %}
	{% endif %}
	{% set delta_z = (current_z - stored_z)|round(5) %}
	{% if delta_z|abs > 0.0001 %}
		{% set new_z_offset = (z_off + delta_z)|round(5) %}
		SAVE_VARIABLE VARIABLE=offset_z VALUE={new_z_offset}
	{% endif %}
	{% if "xyz" not in printer.toolhead.homed_axes %}
		G28
		ACTIVATE_EXTRUDER EXTRUDER=extruder
	{% endif %}
	_PARK_{printer.toolhead.extruder}
	ACTIVATE_EXTRUDER EXTRUDER=extruder
	_GET_EXTRUDER
	G4 P2000
	CHECK_PARK0

[gcode_macro T1]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% set z_off = svv.offset_z|default(0)|float %}
	{% set current_z = printer.gcode_move.homing_origin.z|float %}
	{% if printer.toolhead.extruder == 'extruder1' %}
		{% set stored_z = (svv.t1_z_offset|float + z_off) %}
	{% else %}
		{% set stored_z = (svv.t0offset|float + z_off) %}
	{% endif %}
	{% set delta_z = (current_z - stored_z)|round(5) %}
	{% if delta_z|abs > 0.0001 %}
		{% set new_z_offset = (z_off + delta_z)|round(5) %}
		SAVE_VARIABLE VARIABLE=offset_z VALUE={new_z_offset}
	{% endif %}
	{% if "xyz" not in printer.toolhead.homed_axes %}
		G28
		ACTIVATE_EXTRUDER EXTRUDER=extruder
	{% endif %}
	_PARK_{printer.toolhead.extruder}
	ACTIVATE_EXTRUDER EXTRUDER=extruder1
	_GET_EXTRUDER1
	G4 P2000
	CHECK_PARK1

[gcode_macro _GT1]
gcode:
	{% set T1ProbeValue = printer.probe.last_z_result|default(0)|float %}
	{% set probeConfig = printer['configfile'].config["probe"] %}
	{% if probeConfig %}
		{% set ProbeOffset = probeConfig.z_offset|default(0)|float %}
	{% endif %}
	{% set T1OffsetZ = (T1ProbeValue - ProbeOffset)|round(3) %}
	RESPOND PREFIX="[+]" MSG="Офсет T1 - {T1OffsetZ}мм"
	SAVE_VARIABLE VARIABLE=t1_z_offset VALUE={T1OffsetZ}

[gcode_macro Zoffset]
description: Макрос автокалибровки z-офсета 2-й головы. Запускайте его при снятии или замене хотендов.
gcode:
	{% set poz_x = printer.toolhead.axis_maximum.x|float / 2 %}
	{% set poz_y = printer.toolhead.axis_maximum.y|float / 2 %}
	RESPOND PREFIX="[+]" MSG="Запуск автокалибровки z-офсета"
	G28
	M104 T0 S160
	M104 T1 S160
	M109 T0 S160
	M109 T1 S160
	RESPOND PREFIX="[+]" MSG="Термостабилизация - 1 минута"
	G4 P60000
	RESPOND PREFIX="[+]" MSG="Термостабилизация завершена"
	G90
	G1 X{poz_x} Y{poz_y} F9000
	PROBE
	G1 Z2 F1200
	PROBE
	G1 Z2 F1200
	G28
	T1
	G1 X{poz_x} Y{poz_y} F9000
	PROBE
	G1 Z2 F1200
	PROBE
	G1 Z2 F1200
	PROBE
	G1 Z2 F1200
	_GT1
	_PARK_EXTRUDER1
	TURN_OFF_HEATERS
	FIRMWARE_RESTART
