########################################
# STEPPER configuration
########################################
[force_move]
enable_force_move: True  

[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
endstop_pin: PB14
position_min: -1
position_endstop: 0
position_max: 410
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_y]
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
endstop_pin: PB13
position_min: -1
position_endstop: 0
position_max: 405
homing_speed: 90
homing_retract_speed: 60
second_homing_speed: 30

[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
microsteps: 16
rotation_distance: 8
position_min: -5
endstop_pin: probe:z_virtual_endstop
position_max: 700
homing_speed: 15
homing_retract_speed: 3
second_homing_speed: 3
homing_retract_dist: 5

[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
microsteps: 16
rotation_distance: 8

[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 8

[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
microsteps: 16
rotation_distance: 8

[gcode_macro Z_MAX]
gcode:
  G90
  {% set z_max = printer.toolhead.axis_maximum.z|float -1 %}
  G1 Z{z_max} F900

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE7
run_current: 1.100
hold_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: PE15
run_current: 1.100
hold_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PD10
run_current: 1.25
hold_current: 0.900
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PC14
run_current: 1.25
hold_current: 0.900
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: PC15
run_current: 1.25
hold_current: 0.900
stealthchop_threshold: 0

[tmc2209 stepper_z3]
uart_pin: PA15
run_current: 1.25
hold_current: 0.900
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PD7
run_current: 0.850 
hold_current: 0.580 
stealthchop_threshold: 0

[tmc2209 extruder_stepper pulling_extruder]
uart_pin: PD11
run_current: 0.950 
hold_current: 0.700
stealthchop_threshold: 0
interpolate: False

