########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_Filament_Sensor]
pause_on_runout: False
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% set t0x_safe = svv.t0x_park + 55 %}
   {% set t0y_safe = svv.t0y_park - 25 %}
   {% if svv.filament_check == 1 %}
      PAUSE
      RESPOND TYPE=error MSG="В 1-й печатающей голове закончился филамент!"
      G4 P2000
      {% if svv.filament_unload == 1 %}
      T0
      G1 X{t0x_safe} Y{svv.t0y_park} F{svv.speed_fast}
      G92 E0
      G1 E30 F100
      G92 E0
      UNLOAD_FILAMENT
      RESPOND PREFIX="[+]" MSG="Филамент из 1-й печатающей головы выгружен, загрузите новый"
      {% endif %}
   {% endif %}
switch_pin: PC3 #TE3

[filament_switch_sensor Tool1_Filament_Sensor]
pause_on_runout: False
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% set t1x_safe = svv.t1x_park - 55 %}
   {% set t1y_safe = svv.t1y_park - 25 %}
   {% if svv.filament_check == 1 %}
      PAUSE
      RESPOND TYPE=error MSG="Во 2-й печатающей голове закончился филамент!"
      G4 P2000
      {% if svv.filament_unload == 1 %}
      T1
      G1 X{t1x_safe} Y{svv.t1y_park} F{svv.speed_fast}
      G92 E0
      G1 E30 F100
      G92 E0
      UNLOAD_FILAMENT
      RESPOND PREFIX="[+]" MSG="Филамент из 2-й печатающей головы выгружен, загрузите новый"
      {% endif %}
   {% endif %}
switch_pin: PB1 #TE4

[gcode_macro _FILAMENT_CHECK0]
gcode:
   SAVE_VARIABLE VARIABLE=filament_check VALUE=0

[gcode_macro _FILAMENT_CHECK1]
gcode:
   SAVE_VARIABLE VARIABLE=filament_check VALUE=1

[gcode_macro _FILAMENT_UNLOAD0]
gcode:
   SAVE_VARIABLE VARIABLE=filament_unload VALUE=0

[gcode_macro _FILAMENT_UNLOAD1]
gcode:
   SAVE_VARIABLE VARIABLE=filament_unload VALUE=1
[delayed_gcode my_delayed_gcode]
gcode:
   _FILAMENT_CHECK0
   _FILAMENT_UNLOAD1
initial_duration: 1