########################################
# HEATERS configuration
########################################
[extruder]
step_pin: PD5 # E0-MOTOR
dir_pin: PD6 # E0-MOTOR 
enable_pin: !PD4 # E0-MOTOR
microsteps: 16
rotation_distance: 5.64 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB15 # HEAT0
sensor_type: PT1000
sensor_pin: PC0 # T0
min_temp: 0
max_temp: 430
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03


[verify_heater extruder]
max_error: 300
check_gain_time: 180
hysteresis: 7
heating_gain: 2

[heater_bed]
heater_pin: PB4 # BED-OUT
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0 # TB
min_temp: 5
max_temp: 165

[heater_generic chamber]
gcode_id: chamber
heater_pin: PB6 # FAN4 
sensor_type: PT1000
sensor_pin: PC2 # T2
min_temp: 5
max_temp: 95

[verify_heater chamber]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2
