########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 46.78
shaper_type_x: mzv
shaper_freq_y: 51.59
shaper_type_y: mzv
