########################################
# POWER configuration
########################################

[gcode_macro M81]
description: При нажатии принтер будет выключен. Недоступно при печати.
gcode:
  {action_call_remote_method("shutdown_machine")}