[gcode_macro PAUSE]
description: Pause print.
rename_existing: BASE_PAUSE
variable_extrude: 1.0
gcode:
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float -1 %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% set z_safe = max_z - act_z %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X10 Y10 F10000

[gcode_macro RESUME]
description: Resume print.
rename_existing: BASE_RESUME
gcode:
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
description: Cancel print.
rename_existing: BASE_CANCEL_PRINT
gcode:
  Z_MAX
  G28 X Y
  RESTART

[gcode_macro PID_CALIBRATE_HOTEND]
description: Run PID calibration for hotend.
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=235
    SAVE_CONFIG

[gcode_macro PID_CALIBRATE_BED]
description: Run PID calibration for bed.
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=90
    SAVE_CONFIG  

   
[gcode_macro BED_ALIGNMENT]
gcode:
    G21 ;metric values
    G90 ;absolute positioning
    G28 X0 Y0 Z0 ;Home all

    ; 1 итерация

    G1 Z3 F1200
    G1 X10 Y0 F12000
    PROBE
    GZ0 ; macros - save probe result to Z0 variable

    G1 Z3 F1200
    G1 X10 Y400 F12000
    PROBE
    GZ1 ; macros - save probe result to Z1 variable

    G1 Z3 F1200
    G1 X410 Y400 F12000
    PROBE
    GZ2 ; macros - save probe result to Z2 variable

    G1 Z3 F1200
    G1 X410 Y0 F12000
    PROBE
    GZ3 ; macros - save probe result to Z3 variable

    z_info

    G1 Z3 F1200
    G1 X200 Y200 F12000

    ;выравниваем плоскоть стола ...
    quad_z_tilt_adjust

    ; 2 итерация

    G1 Z3 F1200
    G1 X10 Y0 F12000
    PROBE
    GZ0 ; macros - save probe result to Z0 variable

    G1 Z3 F1200
    G1 X10 Y400 F12000
    PROBE
    GZ1 ; macros - save probe result to Z1 variable

    G1 Z3 F1200
    G1 X410 Y400 F12000
    PROBE
    GZ2 ; macros - save probe result to Z2 variable

    G1 Z3 F1200
    G1 X410 Y0 F12000
    PROBE
    GZ3 ; macros - save probe result to Z3 variable

    z_info

    G1 Z3 F1200
    G1 X200 Y200 F12000

    ;выравниваем плоскоть стола ...
    quad_z_tilt_adjust

    ; 3 итерация

    G1 Z3 F1200
    G1 X10 Y0 F12000
    PROBE
    GZ0 ; macros - save probe result to Z0 variable

    G1 Z3 F1200
    G1 X10 Y400 F12000
    PROBE
    GZ1 ; macros - save probe result to Z1 variable

    G1 Z3 F1200
    G1 X410 Y400 F12000
    PROBE
    GZ2 ; macros - save probe result to Z2 variable

    G1 Z3 F1200
    G1 X410 Y0 F12000
    PROBE
    GZ3 ; macros - save probe result to Z3 variable

    z_info

    G1 Z3 F1200
    G1 X200 Y200 F12000

    ;выравниваем плоскоть стола ...
    quad_z_tilt_adjust

    G28 X0 Y0

