########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 49.18
shaper_type_x: mzv
shaper_freq_y: 32.23
shaper_type_y: mzv

# [mcu rpi]
# serial: /tmp/klipper_host_mcu
