########################################
# PAUSE, RESUME and CANCEL configuration
########################################

[gcode_macro PAUSE]
description: Пауза
rename_existing: PAUSE_BASE
variable_extrude: 1.0
gcode:
	{% if printer.pause_resume.is_paused == True %}
			RESPOND PREFIX="[+]" MSG="Принтер уже в паузе" 
	{% else %}
		{% if printer.print_stats.state == "printing" %}
			{% set E = printer["gcode_macro PAUSE"].extrude|float %}
			{% set max_z = printer.toolhead.axis_maximum.z|float - 5 %}
			{% set act_z = printer.toolhead.position.z|float %}
			{% set z_safe = act_z + 5 %}
			SAVE_GCODE_STATE NAME=PAUSE_state
			PAUSE_BASE
			G91
			G1 E-{E} F2100
			G90
			{% if act_z < max_z %}
				G1 Z{z_safe} F1500
			{% else %}
				G1 Z{act_z + 1} F1500
			{% endif %}
			G1 X10 Y10 F18000
			RESPOND PREFIX="[+]" MSG="Пауза"
		{% else %}
			RESPOND PREFIX="[+]" MSG="Печать не запущена. Отмена паузы"
		{% endif %}
	{% endif %}

[gcode_macro RESUME]
description: Продолжить печать.
rename_existing: RESUME_BASE
gcode:
	{% if printer.pause_resume.is_paused == True %}
		{% set E = printer["gcode_macro PAUSE"].extrude|float %}
		G91
		G1 E{E} F2100
		RESTORE_GCODE_STATE NAME=PAUSE_state
		RESUME_BASE
		RESPOND PREFIX="[+]" MSG="Продолжаем печать"
	{% else %}
		RESPOND PREFIX="[+]" MSG="Принтер не в паузе"
	{% endif %}
	
[gcode_macro CANCEL_PRINT]
description: Отменить печать.
rename_existing: CANCEL_PRINT_BASE
gcode:
	{% set max_z = printer.toolhead.axis_maximum.z|float - 5 %}
	{% set act_z = printer.toolhead.position.z|float %}
	{% set z_safe = act_z + 5 %}
	_SAVE_Z_OFFSET
	_END_RECORD
	RESPOND PREFIX="[+]" MSG="Печать отменена"
	G90
	{% if act_z < max_z %}
		G1 Z{z_safe} F1500
		G1 X10 Y10 F18000
	{% else %}
		G1 Z{act_z + 1} F1500
		G1 X10 Y10 F18000
	{% endif %}
	RESTART
