########################################
# TIMELAPSE configuration
########################################

[gcode_macro _ON_HYPERLAPSE]
description: При нажатии активирует запись печати  в режиме гиперлапса (через промежуток времени)
gcode:
	RESPOND PREFIX="[+]" MSG="Запись печати в режиме гиперлапса активирована"
	SAVE_VARIABLE VARIABLE=use_timelapse VALUE=False
	SAVE_VARIABLE VARIABLE=use_hyperlapse VALUE=True
	_PROMPT_END

[gcode_macro _ON_TIMELAPSE]
description: При нажатии активирует запись печати в режиме таймлапса (при смене слоя)
gcode:
	RESPOND PREFIX="[+]" MSG="Запись печати в режиме таймлапса активирована"
	SAVE_VARIABLE VARIABLE=use_timelapse VALUE=True
	SAVE_VARIABLE VARIABLE=use_hyperlapse VALUE=False
	_PROMPT_END

[gcode_macro _OFF_LAPSE]
description: При нажатии отключает любой вид записи печати
gcode:
	RESPOND PREFIX="[+]" MSG="Запись печати отключена"
	SAVE_VARIABLE VARIABLE=use_timelapse VALUE=False
	SAVE_VARIABLE VARIABLE=use_hyperlapse VALUE=False
	_PROMPT_END

[gcode_macro _PROMPT_END]
gcode:
	RESPOND TYPE=command MSG="action:prompt_end"

[gcode_macro SETUP_RECORD]
description: После нажатия вызывает меню конфигурации записи печати.
gcode:
	{% set svv = printer.save_variables.variables %}
	{% if (not svv.use_hyperlapse) and (not svv.use_timelapse) %}
		RESPOND TYPE=command MSG="action:prompt_begin Запись печати"
		RESPOND TYPE=command MSG="action:prompt_text Включить запись печати? *Убедитесь, что камера работает и показывает изображение"
		RESPOND TYPE=command MSG="action:prompt_footer_button Включить|_SELECT_TYPE|primary"
		RESPOND TYPE=command MSG="action:prompt_footer_button Отключить|_OFF_LAPSE|warning"
		RESPOND TYPE=command MSG="action:prompt_show"
	{% else %}
		_CHANGE_TYPE
	{% endif %}

[gcode_macro _SELECT_TYPE]
gcode:
	RESPOND TYPE=command MSG="action:prompt_begin Запись печати"
	RESPOND TYPE=command MSG="action:prompt_text Выберите режим записи печати:"
	RESPOND TYPE=command MSG="action:prompt_footer_button Гиперлапс|_ON_HYPERLAPSE"
	RESPOND TYPE=command MSG="action:prompt_footer_button Таймлапс|_ON_TIMELAPSE|error"
	RESPOND TYPE=command MSG="action:prompt_footer_button Отмена|_OFF_LAPSE|warning"
	RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro _CHANGE_TYPE]
gcode:
	{% set svv = printer.save_variables.variables %}
		RESPOND TYPE=command MSG="action:prompt_begin Запись печати"
	{% if svv.use_hyperlapse and (not svv.use_timelapse) %}
		RESPOND TYPE=command MSG="action:prompt_text Гиперлапс активирован. Хотите изменить режим записи?"
		RESPOND TYPE=command MSG="action:prompt_footer_button Таймлапс|_ON_TIMELAPSE"
	{% elif (not svv.use_hyperlapse) and svv.use_timelapse %}
		RESPOND TYPE=command MSG="action:prompt_text Таймлапс активирован. Хотите изменить режим записи?"
		RESPOND TYPE=command MSG="action:prompt_footer_button Гиперлапс|_ON_HYPERLAPSE"
	{% endif %}
	RESPOND TYPE=command MSG="action:prompt_footer_button Отключить запись|_OFF_LAPSE|error"
	RESPOND TYPE=command MSG="action:prompt_footer_button Отмена|_PROMPT_END|warning"
	RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro _START_RECORD]
gcode: 
	{% set svv = printer.save_variables.variables %}
	{% set cycle = svv.hyperlapse_cycle | default(30) | float %}
	{% if svv.use_hyperlapse and (not svv.use_timelapse) %}
		_ON_HYPERLAPSE
		HYPERLAPSE ACTION=START CYCLE={cycle} 
		{% if svv.change_poweroff %}
			SAVE_VARIABLE VARIABLE=change_poweroff VALUE=False
		{% endif %}
	{% elif (not svv.use_hyperlapse) and svv.use_timelapse %}
		_ON_TIMELAPSE
		{% if svv.change_poweroff %}
			SAVE_VARIABLE VARIABLE=change_poweroff VALUE=False
		{% endif %}
	{% elif (not svv.use_hyperlapse) and (not svv.use_timelapse) %}
		_OFF_LAPSE
	{% endif %}

[gcode_macro _END_RECORD]
gcode: 
	{% set svv = printer.save_variables.variables %}
	{% if svv.use_hyperlapse and (not svv.use_timelapse) %}
		HYPERLAPSE ACTION=STOP
		TIMELAPSE_RENDER
	{% elif (not svv.use_hyperlapse) and svv.use_timelapse %}
		TIMELAPSE_RENDER
	{% endif %}

[gcode_macro SET_HYPERLAPSE_CYCLE]
description: Установите период для гиперлапса в секундах. Не влияет на запись при печати.
gcode: 
	{% set HYPERLAPSE_CYCLE = params.HYPERLAPSE_CYCLE | default(30) | float %}
	SAVE_VARIABLE VARIABLE=hyperlapse_cycle VALUE={HYPERLAPSE_CYCLE}
	RESPOND PREFIX="[+]" MSG="Период для гиперлапса установлен на {HYPERLAPSE_CYCLE} с"
	
[gcode_macro _STATUS_RECORD]
description: Выводит информацию об активном режиме записи печати.
gcode: 
	{% set svv = printer.save_variables.variables %}
	{% if svv.use_hyperlapse and (not svv.use_timelapse) %}
		RESPOND PREFIX="[+]" MSG="Режим записи печати: Гиперлапс"
	{% elif (not svv.use_hyperlapse) and svv.use_timelapse %}
		RESPOND PREFIX="[+]" MSG="Режим записи печати: Таймлапс"
	{% elif (not svv.use_hyperlapse) and (not svv.use_timelapse) %}
		RESPOND PREFIX="[+]" MSG="Режим записи печати: Отключено"
	{% endif %}
