########################################
# COOLDOWN configuration
########################################

[gcode_macro COOLDOWN]
description: Отпуск детали.
gcode:
  {% set svv = printer.save_variables.variables %}
  {% set TARGET_CHAMB = svv.target_chamb %}                                     # начальная целевая температура камеры при отпуске из переменной target_chamb
  {% set TARGET_BED = svv.target_bed %}                                         # целевая температура стола при отпуске из переменной target_bed
  {% set COOLDOWN_TIME = svv.cooldown_time * 60000  %}                          # целевое время отпуска из переменной cooldown_time (в файле - в минутах, в этой строке переводим в микросекунды)
  {% set CUR_TEMP = printer['heater_generic chamber'].temperature | float %}    # текущая температура камеры
  {% set N = ((TARGET_CHAMB - 30)/10) | round(0, 'ceil') | int %}               # расчетное количество итераций отпуска с опусканием температуры на 10 градусов за одну итерацию  
  {% set DELTA_TIME = (COOLDOWN_TIME / N) | round(1) | float %}                 # расчетное время одной итерации в микросекундах                                 
  {% set DISPLAYED_TIME = (DELTA_TIME / 60000) | round(1) %}                    # отображаемое расчетное время одной итерации в минутах
  {% set ALL_DISPLAYED_TIME = (DISPLAYED_TIME * N) | round(1) %}                # отображаемое расчетное общее время отпуска в минутах
  SAVE_VARIABLE VARIABLE=tchamb_temp VALUE={TARGET_CHAMB}                       # записываем в переменную tchamb_temp начальную целевую температуру камеры при отпуске
  SAVE_VARIABLE VARIABLE=delta_time VALUE={DELTA_TIME}                          # записываем в переменную delta_time расчетное время одной итерации в микросекундах

  {% if TARGET_CHAMB > 40 %}                                                    # Если целевая температура отпуска задана начинаем отпуск 
    RESPOND PREFIX="[+]" MSG="Начинаем отпуск детали!"
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={TARGET_BED}                # включаем нагрев стола до целевой температуры
    RESPOND PREFIX="[+]" MSG="Общее время ожидания {ALL_DISPLAYED_TIME} минут"
    {% for i in range(10, 0, -1) %}                                             # запускаем цикл из 10 шагов 
      _SET_CHTEMP                                                               # задаем целевую температуру камеры через макрос _SET_CHTEMP
      RESPOND PREFIX="[+]" MSG="время ожидания итерации {DISPLAYED_TIME} минут"
      _WAIT_CHTEMP                                                              # задаем задержку ожидания одной итерации с проверкой текущей температуры камеры _WAIT_CHTEMP T_CHAMBER={T_CHAMBER} COOLDOWN_TIME={COOLDOWN_TIME}  
    {% endfor %}
    RESPOND PREFIX="[+]" MSG="Отпуск детали завершён!"
    SET_HEATER_TEMPERATURE HEATER=chamber TARGET=0                              # Выключаем нагрев камеры по окончании отпуска
  {% endif %}

[gcode_macro _SET_CHTEMP]                                                       # МАКРОС УСТАНОВКИ ЦЕЛЕВОЙ ТЕМПЕРАТУРЫ КАМЕРЫ
gcode:
  {% set svv = printer.save_variables.variables %}
  SET_HEATER_TEMPERATURE HEATER=chamber TARGET={svv.tchamb_temp}                # задаем целевую температуру камеры из переменной tchamb_temp
  RESPOND PREFIX="[+]" MSG="Температура отпуска = {svv.tchamb_temp} градусов"   # отображаем целевую температуру камеры

[gcode_macro _WAIT_CHTEMP]                                                      # МАКРОС УСТАНОВКИ ВРЕМЕНИ ЗАДЕРЖКИ ОДНОЙ ИТЕРАЦИИ С ПРОВЕРКОЙ ТЕМПЕРАТУРЫ КАМЕРЫ
gcode:
  {% set svv = printer.save_variables.variables %}                              
  {% set DELTA_TIME = svv.delta_time %}                                         # расчетное время одной итерации в микросекундах из переменной delta_time
  {% set CUR_TEMP = printer['heater_generic chamber'].temperature|float %}      # текущая температура камеры
  
  {% if CUR_TEMP > 35 %}                                                        # если текущая температура камеры больше 35 градусов 
    G4 P{DELTA_TIME}                                                            # задаем задержку ожидания для одной итерации
    _CHECK_CHTEMP                                                               # макрос проверки соответствия температуры камеры целевой по окончании итерации отпуска
    {% else %}
    RESPOND PREFIX="[+]" MSG="Температура камеры ниже 35 градусов, дальше отпускать смысла нету, пропускаем итерацию)))"
  {% endif %} 

[gcode_macro _CHECK_CHTEMP]                                                     # МАКРОС ПРОВЕРКИ ТЕМПЕРАТУРЫ. ЕСЛИ ПО ОКОНЧАНИИ ИТЕРАЦИИ ОТПУСКА ТЕМПЕРАТУРА КАМЕРЫ ОПУСТИЛАСЬ ДО ЦЕЛЕВОЙ, ПРОДОЛЖАЕМ ДАЛЬШЕ.  
gcode:                                                                          # ЕСЛИ НЕТ - ОПУСКАЕМ ТЕМПЕРАТУРУ СТОЛА НА 10 ГРАДУСОВ, ЖДЕМ 10 МИНУТ И ПЕРЕЗАПУСКАЕМ ИТЕРАЦИЮ С ТОЙ ЖЕ ТЕМПЕРАТУРОЙ КАМЕРЫ.
  {% set svv = printer.save_variables.variables %}
  {% set CUR_TEMP = printer['heater_generic chamber'].temperature|float %}      # текущая температура камеры
  {% set TARGET_CHAMB = printer['heater_generic chamber'].target|float %}       # целевая температура камеры
  {% set TARGET_BED = (printer.heater_bed.temperature - 10)|float %}            # целевая температура СТОЛА для случая превышения целевой температуры КАМЕРЫ ( текущая минус 10 градусов)

  RESPOND PREFIX="[+]" MSG="Целевая температура камеры {TARGET_CHAMB}"
  RESPOND PREFIX="[+]" MSG="Текущая температура камеры {CUR_TEMP}"

  {% if TARGET_CHAMB < (CUR_TEMP - 2) %}                                        # если текущая температура камеры на 2 градуса выше целевой
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={TARGET_BED}                # опускаем температуру стола на 10 градусов
    RESPOND PREFIX="[+]" MSG="Температура камеры выше целевой, опускаем температуру стола на 10 градусов и повторяем итерацию"
    SAVE_VARIABLE VARIABLE=tchamb_temp VALUE={printer['heater_generic chamber'].target|float}  # записываем в переменную tchamb_temp целевую температуру камеры ТАКУЮ ЖЕ, КАК В ПРЕДЫДУЩЕЙ ИТЕРАЦИИ
    RESPOND PREFIX="[+]" MSG="Целевая иемпература стола {TARGET_BED} градусов"
    {% else %}                                                                  # если текущая температура камеры соответствует целевой
    RESPOND PREFIX="[+]" MSG="Температура камеры соответствует целевой, опускаем температуру камеры на 10 градусов и переходим к следующей итерации"
    SAVE_VARIABLE VARIABLE=tchamb_temp VALUE={printer['heater_generic chamber'].target |float -10} # опускаем целевую температуру камеры на 10 градусов и записываем в переменную tchamb_temp
  {% endif %}
