########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Tool0_Filament_Sensor]
pause_on_runout: False
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% set t0x_safe = svv.t0x_park + 55 %}
   {% set t0y_safe = svv.t0y_park - 25 %}
   {% if printer.print_stats.state == "printing" %}
      PAUSE
      RESPOND TYPE=error MSG="В левой голове (T0) закончился филамент!"
      G4 P2000
      T0
      G1 X{t0x_safe} Y{svv.t0y_park} F{svv.speed_fast}
      G92 E0
      G1 E30 F100
      G92 E0
      UNLOAD_FILAMENT
      RESPOND PREFIX="[+]" MSG="Филамент из левой головы (T0) выгружен, загрузите новый"
      G1 X{t0x_safe} Y{t0y_safe} F{svv.speed_fast}
   {% endif %}
switch_pin: PC3 #TE3

[filament_switch_sensor Tool1_Filament_Sensor]
pause_on_runout: False
runout_gcode:
   {% set svv = printer.save_variables.variables %}
   {% set t1x_safe = svv.t1x_park - 55 %}
   {% set t1y_safe = svv.t1y_park - 25 %}
   {% if printer.print_stats.state == "printing" %}
      PAUSE
      RESPOND TYPE=error MSG="В правой голове (T1) закончился филамент!"
      G4 P2000
      T1
      G1 X{t1x_safe} Y{svv.t1y_park} F{svv.speed_fast}
      G92 E0
      G1 E30 F100
      G92 E0
      UNLOAD_FILAMENT
      RESPOND PREFIX="[+]" MSG="Филамент из правой головы (T1) выгружен, загрузите новый"
      G1 X{t1x_safe} Y{t1y_safe} F{svv.speed_fast}
   {% endif %}
switch_pin: PB1 #TE4
