########################################
# INPUT SHAPER configuration
########################################

[input_shaper]
shaper_freq_x: 44.33
shaper_type_x: mzv
shaper_freq_y: 31.94
shaper_type_y: mzv
