########################################
# BED LEVEL configuration
########################################
[probe]
pin: PA0
x_offset: 0.0
y_offset: 0.0
z_offset: -1.0
speed: 0.8
lift_speed: 25
samples: 1
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.04
samples_tolerance_retries: 0

[bed_mesh]
speed: 300
horizontal_move_z: 2
mesh_min:
    10,10
mesh_max:
    590,590
probe_count: 6,6
# compensation_amplitude: 0.1
# x_coordinate_min: 0
# x_coordinate_max: 600

[gcode_macro G29]
description: Автокалибровка карты.
gcode:
  {% if "xy" not in printer.toolhead.homed_axes %}
  G28 X Y
  {% endif %}
  {% if "z" not in printer.toolhead.homed_axes %}
  G28 Z
  {% endif %}
  BED_MESH_CALIBRATE

[quad_gantry_level]
gantry_corners: 
    -55, 0
    660, 640
points:
    10, 10
    10, 590
    590, 590
    590, 10
speed: 300
retries: 7
retry_tolerance: 0.05
horizontal_move_z: 10
