[homing_override]
gcode:
  HOMING
set_position_z: 0

[gcode_macro HOMING]
gcode:
      PARKING_STATE
      {% set svv = printer.save_variables.variables %}
      {% set poz_x = printer.toolhead.axis_maximum.x|float / 2 %}
      {% set poz_y = printer.toolhead.axis_maximum.y|float / 2 %}
      {% set ActiveTool = printer.toolhead.extruder %}
      {% set Parking0State = printer['gcode_button t0_parking'].state %} #{% set Parking0State = "PRESSED" %}
      {% set Parking1State = printer['gcode_button t1_parking'].state %} #{% set Parking1State = "RELEASED" %}

      {% if (Parking0State == "PRESSED") and (Parking1State == "PRESSED") %} # tool0 out of parking, tool1 out of parking
            # RESPOND TYPE=error MSG="T0 и T1 вне парковок! Проверьте положение голов!"
            { action_emergency_stop("T0 и T1 вне парковок! Проверьте положение голов!") }
      {% elif (Parking0State == "RELEASED") and (Parking1State == "RELEASED") %} # tool0 on parking, tool1 on parking
            RESPOND PREFIX="[+]" MSG="T0 - Парковка T1 - Парковка"
            G91
            G1 Z5 F900
            G28 Y
            G28 X
            G90
            {% if ActiveTool == "extruder" %}
                  _GET_EXTRUDER0
            {% elif ActiveTool == "extruder1" %}
                  ACTIVATE_EXTRUDER EXTRUDER=extruder
                  _GET_EXTRUDER0
            {% endif %}
      {% elif (Parking0State == "RELEASED") and (Parking1State == "PRESSED") %} # tool0 on parking, tool1 out of parking
            RESPOND PREFIX="[+]" MSG="T0 - Парковка T1 - Слайдер"
            G91
            G1 Z5 F900
            G28 Y
            G28 X
            G90
            {% if ActiveTool == "extruder" %}
                  {% if _PUSH_EXTRUDER1 %}
                        _PUSH_EXTRUDER1
                  {% endif %}
                  _PARK_EXTRUDER1
                  _GET_EXTRUDER0
            {% elif ActiveTool == "extruder1" %}
                  {% if _PUSH_EXTRUDER1 %}
                        _PUSH_EXTRUDER1
                  {% endif %}
                  _PARK_EXTRUDER1
                  ACTIVATE_EXTRUDER EXTRUDER=extruder
                  _GET_EXTRUDER0
            {% endif %}
      {% elif (Parking0State == "PRESSED") and (Parking1State == "RELEASED") %} # tool0 out of parking, tool1 on parking
            RESPOND PREFIX="[+]" MSG="T0 - Слайдер T1 - Парковка"
            G91
            G1 Z5 F900
            G28 Y
            G28 X
            G90
            {% if ActiveTool == "extruder" %}
                  {% if _PUSH_EXTRUDER0 %}
                        _PUSH_EXTRUDER0
                  {% endif %}
            {% elif ActiveTool == "extruder1" %}
                  ACTIVATE_EXTRUDER EXTRUDER=extruder
                  {% if _PUSH_EXTRUDER0 %}
                        _PUSH_EXTRUDER0
                  {% endif %}
            {% endif %}
      {% endif %}
      G90
      G1 X{poz_x} Y{poz_y} F9000
      M400
      _CHECK_PARK_HOME

[gcode_macro _CHECK_PARK_HOME]
gcode:
   {% set svv = printer.save_variables.variables %}
   {% set Parking0State = printer['gcode_button t0_parking'].state %}
   {% if (Parking0State == "PRESSED") %}
      RESPOND PREFIX="[+]" MSG="T0 - Слайдер. Парковка разрешена"
      G28 Z
	G1 Z10 F900
	G1 X{svv.t0x_safe} Y{svv.t0y_safe + 15} F{svv.speed_fast}
   {% else %}
      RESPOND TYPE=error MSG="На слайдере нет печатной головы! Проверьте координаты парковок!"
      G1 X{svv.t0x_safe} Y{svv.t0y_safe + 15} F{svv.speed_fast}
   {% endif %}  