########################################
# HEATERS configuration
########################################
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 5.67 # HGX
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB15
sensor_type: PT1000
sensor_pin: PC0
control = pid
pid_kp = 15.813
pid_ki = 0.609
pid_kd = 102.585
min_temp: 0
max_temp: 430
max_extrude_cross_section: 100
max_extrude_only_distance: 1000
pressure_advance: 0.03

[verify_heater extruder]
max_error: 300
check_gain_time: 180
hysteresis: 7
heating_gain: 2

[heater_bed]
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
control = pid
pid_kp = 66.402
pid_ki = 2.380
pid_kd = 463.152
min_temp: 5
max_temp: 165

[heater_generic chamber]
gcode_id: chamber
heater_pin: PB3 # E2
sensor_type: PT1000
sensor_pin: PC1 # TE1
control: pid
pid_Kp: 57.571
pid_Ki: 1.153
pid_Kd: 718.913
min_temp: 5
max_temp: 95

[verify_heater chamber]
max_error: 300
check_gain_time: 600
hysteresis: 5
heating_gain: 2
