########################################
# Board Fysetc Spider V3.0 config
########################################
# S/N: ZBS3526xx
########################################

[include klipper-config/cooldown.cfg]
[include klipper-config/pause_resume_cancel.cfg]
[include klipper-config/tools.cfg]
[include klipper-config/steppers.cfg]
[include klipper-config/heaters.cfg]
[include klipper-config/power.cfg]
[include klipper-config/LED.cfg]
[include klipper-config/bed.cfg]
[include klipper-config/fans.cfg]
[include klipper-config/filament-sensors.cfg]
[include klipper-config/input-shaper.cfg]
[include klipper-config/gcode-macros.cfg]
[include klipper-config/load-unload.cfg]
[include klipper-config/homing.cfg]
[include klipper-config/parking.cfg]
[include klipper-config/skew_correction.cfg]
[include klipper-config/layer_change.cfg]
# [include klipper-config/accelerometer.cfg]

########################################
# PRINTER MCU configuration
########################################

[mcu]
serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.4:1.0

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 15
max_z_accel: 12
square_corner_velocity: 15

[idle_timeout] 
timeout: 86400

[save_variables]
filename: /home/pi/printer_data/config/toolchanger-settings.cfg

[respond]

[display_status]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[pause_resume]

[skew_correction]

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 14.975
#*# pid_ki = 0.504
#*# pid_kd = 111.191
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 15.583
#*# pid_ki = 0.590
#*# pid_kd = 102.845
