########################################
# FILAMENT SENSOR configuration
########################################

[filament_switch_sensor Filament_Sensor]
pause_on_runout: False
runout_gcode:
   PAUSE
   G92 E0
   G1 E40 F100
   RESPOND TYPE=error MSG="Проверьте филамент!"
   G4 P2000
   G1 E-10 F100
   G1 E-20 F300
   G1 E-200 F1500
   G92 E0
   RESPOND PREFIX="[+]" MSG="Филамент выгружен, загрузите новый"
switch_pin: PC3 #TE3